* {
    margin: 0;
    padding: 0;
}

.Icone_Cabecalho_Dashboard {
    color: var(--bs-gray-600);
}

.Icon_Cabecalho_iFood {
    display: flex;
    gap: 4px;
    align-items: center;
}

.Icons_Cabecalho_iFood {
    display: flex;
    gap: 40px;
    align-items: center;
}

.Espacamento_Cabecalho_iFood {
    display: flex;
    align-items: center;
    gap: 40px;

}

body {
    background-color: var(--bs-gray-200);
}

.cabecalho_table_transacoes {
    display: flex;
    align-items: center;
    text-align: center;
}

.descricao_cabecalho_table {
    display: flex;
    gap: 40px;
}

.tabelas_transacoes {
    margin: 2vw;
    margin-top: 4vw;
}


@media (max-width : 900px) {
    .Icons_Cabecalho_iFood {
        flex-direction: row;
        visibility: hidden;
    }

    .buscar_navbar {
        visibility: hidden;
        
    }
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    text-align: center;

}